.inputField {
  border: solid 2px #c4c4c4;
  border-radius: 4px;
  width: 95%;
  font-size: 1em;
  padding: 0.694em;
  box-sizing: border-box;
  height: auto;
  resize: none;
}

.inputField:focus {
  outline: none;
  border-color: #272727;
}
