.inputField {
  border: solid 2px #c4c4c4;
  border-radius: 4px;
  width: 90%;
  font-size: 1.2em;
  padding: 0.694em;
  box-sizing: border-box;
}

.inputField:focus {
  outline: none;
  border-color: #272727;
}
