.chat-app {
  display: flex;
  background-color: #fff;
  height: 100vh;
}

.main {
  display: flex;
  box-sizing: border-box;
  width: auto;
  flex-basis: 75%;
  flex-grow: 1;
  background: #efefef;
  flex-direction: column;
}

.chat-form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-top: 0.833rem;
  padding-bottom: 0.833rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
  box-shadow: 5px 3px 5px 3px #ccc;
  width: 100%;
  margin-top: auto;
  height: 9%;
}

.overlay {
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.close-btn {
  width: 2rem;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #616061;
  cursor: pointer;
  position: absolute;
  display: block;
  text-align: center;
  right: 5rem;
  top: 4rem;
  font-size: 0.8rem;
}

.iconBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
