.channels {
  padding-left: 0;
  margin: 0;
}

.channel {
  border-left: 2px solid transparent;
  list-style-type: none;
  font-size: 1rem;
  display: block;
  padding-top: 0.482rem;
  padding-bottom: 0.482rem;
}

.channel:before {
  content: "#";
  margin-right: 0.579em;
  margin-left: 1em;
  color: #a2a3ba;
}

.channel.active {
  border-left: 3px solid #e59087;
  background-color: #2e2f43;
}

.channel.active > .channelLink {
  color: #ffffff;
}

.channelLink {
  text-transform: lowercase;
  color: #a2a3ba;
  text-decoration: none;
}

.channelLink {
  color: #ffffff;
}

.channels-header,
.header {
  margin-bottom: 0.833rem;
}

.channels-header__title,
.title {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 1.2rem;
  color: #a2a3ba;
}
