.channels-list {
  padding-left: 0;
  margin: 0;
}

.channels-list__item {
  border-left: 2px solid transparent;
  list-style-type: none;
  font-size: 1rem;
  display: block;
  padding-top: 0.482rem;
  padding-bottom: 0.482rem;
}

.channels-list__item:before {
  content: "#";
  margin-right: 0.579em;
  margin-left: 1em;
  color: #a2a3ba;
}

.channels-list__item.is-active {
  border-left: 3px solid #e59087;
  background-color: #2e2f43;
}

.channels-list__item.is-active > .channels-list__link {
  color: #ffffff;
}

.channels-list__link {
  text-transform: lowercase;
  color: #a2a3ba;
  text-decoration: none;
}

.channels-list__link:hover {
  color: #ffffff;
}

.channels-header {
  margin-bottom: 0.833rem;
}

.channels-header__title {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 1.2rem;
  color: #a2a3ba;
}
