.modal {
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  width: 2rem;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #616061;
  cursor: pointer;
  position: absolute;
  display: block;
  text-align: center;
  right: 5rem;
  top: 4rem;
  font-size: 0.8rem;
}
